In [1]:
# Load the SQL magic extension
# https://github.com/ploomber/jupysql
# this extension allows us to connect to DBs and issue SQL commands
%load_ext sql

In [36]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text, inspect

In [37]:
engine = create_engine('sqlite:///kbo_database.db')
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [40]:
Session = sessionmaker(bind=engine)
session = Session()

In [41]:
# Code to drop belgium_regions table if it exists

# with engine.connect() as conn:
#     conn.execute(text("DROP TABLE IF EXISTS belgium_regions"))
#     conn.commit()

# inspector = inspect(engine)
# print(inspector.get_table_names())

In [42]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class BelgiumRegion(Base):
    __tablename__ = "belgium_regions"

    id = Column(Integer, primary_key=True)
    region_code = Column(String, nullable=False)
    post_code = Column(String, nullable=False)
    region_name_fr = Column(String, nullable=False)


Base.metadata.create_all(engine)
inspector = inspect(engine)
print(inspector.get_table_names())

['activity', 'address', 'belgium_regions', 'branch', 'code', 'contact', 'denomination', 'enterprise', 'establishment', 'meta']

/var/folders/n4/xhm5c1x102q3rdg91bgwysbw0000gn/T/ipykernel_90583/40714184.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [43]:
# Create new table for Belgium regions. Only run once
import csv

with open("georef-belgium-postal-codes.csv", newline="", encoding="utf-8") as csvfile:
    reader = csv.DictReader(csvfile, delimiter=";")
    for row in reader:
        entry = BelgiumRegion(
            region_code=row["Région code"],
            post_code=row["Post code"],
            region_name_fr=row["Région name (French)"]
        )
        session.add(entry)

session.commit()
session.close()

In [44]:
inspector = inspect(engine)
print(inspector.get_table_names())

['activity', 'address', 'belgium_regions', 'branch', 'code', 'contact', 'denomination', 'enterprise', 'establishment', 'meta']

In [45]:
def execute_query(query):
    with Session() as session:
        result = session.execute(text(query))
        for row in result:
            print(row)

In [47]:

inspector = inspect(engine)
print(inspector.get_columns("enterprise"))
# Add a new column to the enterprise table (RUN ONCE)
with Session() as session:
    session.execute(text("""
    ALTER TABLE enterprise
    ADD COLUMN StartDate_ISO TEXT;
    """))
    session.commit()

[{'name': 'EnterpriseNumber', 'type': TEXT(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'Status', 'type': TEXT(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'JuridicalSituation', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'TypeOfEnterprise', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'JuridicalForm', 'type': REAL(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'JuridicalFormCAC', 'type': REAL(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'StartDate', 'type': TEXT(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'StartDate_ISO', 'type': TEXT(), 'nullable': True, 'default': None, 'primary_key': 0}]

OperationalError: (sqlite3.OperationalError) duplicate column name: StartDate_ISO
[SQL:
    ALTER TABLE enterprise
    ADD COLUMN StartDate_ISO TEXT;
    ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [48]:
with Session() as session:
    # Update the StartDate_ISO column with the formatted date
    session.execute(text("""
    UPDATE enterprise
    SET StartDate_ISO = substr(StartDate, 7, 4) || '-' || substr(StartDate, 4, 2) || '-' || substr(StartDate, 1, 2);
    """))
    session.commit()

In [49]:
# Regional distribution of BELGIAN enterprises
query1= """
SELECT
	COUNT(DISTINCT EnterpriseNumber) AS enterprise_count,
	region_code,
	region_name_fr
FROM
	enterprise
	INNER JOIN address ON address.EntityNumber = enterprise.EnterpriseNumber
	INNER JOIN belgium_regions ON address.Zipcode = belgium_regions.post_code
WHERE region_code IS NOT NULL
    AND region_code != ''
GROUP BY
	region_code
ORDER BY enterprise_count DESC
"""
execute_query(query1)

(647538, '02000', 'Région flamande')
(247945, '03000', 'Région wallonne')
(175914, '01000', 'Région de Bruxelles-Capitale')

In [55]:
# distribution of activity groups
query2 = """
SELECT
    COUNT(activity.EntityNumber) AS count,
    activity.ActivityGroup as "Activity Group",
    code.Description as "Description"
FROM
    activity
    LEFT JOIN code ON code.Code = activity.ActivityGroup 
        AND code.Category = 'ActivityGroup'
        AND code.Language = 'NL'
GROUP BY
    activity.ActivityGroup, code.Description
ORDER BY count DESC
"""

execute_query(query2)

(28855664, 3, 'Activiteiten')
(6487053, 1, 'BTW-activiteiten')
(1219587, 6, 'RSZ-activiteiten')
(25800, 7, 'Activiteiten gesubsideerd onderwijs')
(6964, 5, 'RSZPPO-activiteiten')
(2423, 4, 'Activiteiten federaal openbaar ambt')

In [56]:
# distribution of juridical form
query3 = """
SELECT
    COUNT(enterprise.JuridicalForm) AS entity_count,
    Description,
    enterprise.JuridicalForm
FROM
    enterprise
    LEFT JOIN code ON code.Code = enterprise.JuridicalForm 
        AND code.Category = 'JuridicalForm'
GROUP BY
    enterprise.JuridicalForm
HAVING entity_count > 0
ORDER BY entity_count DESC
"""

execute_query(query3)

(1480152, 'Besloten Vennootschap', 610.0)
(417639, 'Association sans but lucratif', 17.0)
(325335, 'Association des copropriétaires', 70.0)
(259623, 'Besloten vennootschap met beperkte aansprakelijkheid', 15.0)
(242025, 'Aktiengesellschaft', 14.0)
(202728, 'Ausländische Einheit', 30.0)
(142056, 'Commanditaire vennootschap', 612.0)
(83211, 'Gesellschaften oder Vereinigungen ohne Rechtspersönlichkeit', 721.0)
(74664, 'Offene Handelsgesellschaft', 11.0)
(48546, 'Einfache Kommanditgesellschaft', 12.0)
(36447, 'Ausländische Einheit ohne Niederlassung in Belgien mit einem Fiskalvertreter für die MwSt.', 235.0)
(24960, 'BTW-eenheid', 3.0)
(21567, 'Coöperatieve vennootschap (oud statuut)', 16.0)
(14610, 'Etablissement public', 124.0)
(12333, 'Coöperatieve vennootschap met beperkte aansprakelijkheid', 8.0)
(11694, 'Ausländische Einheit mit einer Immobilie in Belgien (mit Rechtspersönlichkeit)', 230.0)
(8586, 'Coöperatieve vennootschap met onbeperkte aansprakelijkheid', 6.0)
(7506, 'Association internationale sans but lucratif', 125.0)
(6735, 'Fondation privée', 26.0)
(5259, 'Coöperatieve vennootschap', 706.0)
(5034, 'Krankenkasse / Gesellschaft auf Gegenseitigkeit / Krankenkassenlandesverband', 19.0)
(3849, 'Beroepsvereniging', 20.0)
(2793, 'Forme légale inconnue (ONSS)', 999.0)
(2370, 'Internationale wetenschappelijke organisatie van Belgisch recht', 22.0)
(2196, "Fondation d'utilité publique", 29.0)
(1701, "Centre public d'action sociale", 412.0)
(1695, 'Stad / gemeente', 411.0)
(1128, 'Landbouwvennootschap', 25.0)
(1083, 'Ausländische oder internationale öffentliche Einrichtungen', 160.0)
(1026, 'Commanditaire vennootschap op aandelen', 13.0)
(996, 'Entwässerungsgenossenschaft / Bewässerungsgenossenschaft', 129.0)
(897, 'Autonome Gemeinderegie', 418.0)
(837, 'Andere Rechtsform', 151.0)
(804, 'Europees economisch samenwerkingsverband', 65.0)
(732, 'Andere privaatrechtelijke vorm met rechtspersoonlijkheid', 51.0)
(600, 'Buitenlandse onderneming zonder Belgische vestiging genoteerd op de beurs', 453.0)
(558, 'Lokale Polizeizone', 413.0)
(519, "Etablissement d'utilité publique", 18.0)
(417, 'Organisme de financement de pensions', 2.0)
(402, 'Economisch samenwerkingsverband', 60.0)
(372, 'Association de CPAS', 420.0)
(366, 'Beim LPA eingetragene Stellen', 451.0)
(330, 'Coöperatieve vennootschap met beperkte aansprakelijkheid met een sociaal oogmerk', 508.0)
(246, 'Besloten Vennootschap van publiek recht', 616.0)
(228, 'Naamloze vennootschap van publiek recht', 114.0)
(219, 'Association de projet', 415.0)
(180, 'Ministerie van Binnenlandse Zaken', 379.0)
(180, "Association d'assurances mutuelles / Caisse commune d'assurances de droit privé", 21.0)
(162, 'Association chargée de mission (Région flamande)', 417.0)
(141, 'Andere federale dienst', 303.0)
(129, 'Autorité de la Région flamande et de la Communauté flamande', 310.0)
(114, 'Ausländische Einheit mit einer Immobilie in Belgien (ohne Rechtspersönlichkeit)', 454.0)
(114, 'Coöperatieve vennootschap van publiek recht (oud statuut)', 116.0)
(105, 'Arbeitsgemeinschaft', 722.0)
(102, 'Besloten vennootschap met beperkte aansprakelijkheid met een sociaal oogmerk', 515.0)
(99, 'Hilfeleistungszone', 422.0)
(96, 'Association étrangère privée avec établissement en Belgique', 23.0)
(81, 'Association sans but lucratif de droit public', 117.0)
(78, 'Autonome Provinzialregie', 419.0)
(78, 'Association prestataire de services (Région flamande)', 416.0)
(72, 'Beroepsvereniging / Orde', 123.0)
(60, 'Intercommunale', 414.0)
(57, 'Bei der Verwaltung der Pensionen eingetragene Stelle', 452.0)
(54, 'Gesellschaft des allgemeinen Rechts', 702.0)
(48, 'Autorité provinciale', 400.0)
(42, 'Autorité de la Communauté française', 340.0)
(39, 'Europese vennootschap (Societas Europaea)', 27.0)
(36, 'Federale overheidsdienst', 301.0)
(30, 'Aktiengesellschaft mit sozialer Zielsetzung', 514.0)
(30, 'Autorité de la Région de Bruxelles-Capitale', 330.0)
(30, 'Coöperatieve vennootschap met beperkte aansprakelijkheid, bij wijze van deelneming', 9.0)
(27, 'Einfache Kommanditgesellschaft mit sozialer Zielsetzung', 512.0)
(27, 'Coöperatieve vennootschap met beperkte aansprakelijkheid van publiek recht', 108.0)
(24, 'Autorité de la Région wallonne', 320.0)
(21, 'Autorité de la Communauté germanophone', 350.0)
(21, 'Europese politieke partij', 217.0)
(21, 'Europese Coöperatieve Vennootschap', 1.0)
(18, 'Coöperatieve vennootschap van publiek recht', 716.0)
(18, 'Ministerie van het Waalse Gewest', 388.0)
(18, 'Europees economisch samenwerkingsverband zonder zetel met vestiging in België (EESV)', 265.0)
(15, 'Divers sans personnalité juridique', 790.0)
(15, 'Ministerie van de Franse Gemeenschap', 386.0)
(15, 'Europese politieke stichting', 218.0)
(15, 'Kongolese vennootschap', 40.0)
(12, 'Economisch samenwerkingsverband met een sociaal oogmerk', 560.0)
(12, 'Coöperatieve vennootschap met onbeperkte aansprakelijkheid met een sociaal oogmerk', 506.0)
(12, 'Ministerie van de Vlaamse Gemeenschap', 385.0)
(12, 'Rijk, Provincie, Gewest, Gemeenschap', 110.0)
(9, 'Andere', 393.0)
(6, 'Ministerie van Economische Zaken', 370.0)
(6, 'Association internationale sans but lucratif de droit public', 325.0)
(6, 'Föderaler öffentlicher Programmierungsdienst', 302.0)
(6, 'Coöperatieve vennootschap met onbeperkte aansprakelijkheid, bij wijze van deelneming', 7.0)
(3, 'Gewerkschaft', 724.0)
(3, 'Andere vorm met een sociaal oogmerk van publiek recht', 651.0)
(3, 'Commanditaire vennootschap van publiek recht', 617.0)
(3, 'Commanditaire vennootschap op aandelen met een sociaal oogmerk', 513.0)
(3, 'Offene Handelsgesellschaft mit sozialer Zielsetzung', 511.0)
(3, 'Ministerie van het Brusselse Hoofdstedelijk Gewest', 387.0)
(3, 'Diensten van de Eerste Minister', 383.0)
(3, 'Ministerie van Justitie', 380.0)
(3, 'Ministerie van Middenstand', 373.0)
(3, 'Ministerie van Buitenlandse Zaken, Buitenlandse handel en Ontwikkelingssamenwerking', 371.0)
(3, 'Berg van Barmhartigheid', 127.0)
(3, 'Einrichtung ohne Gewinnerzielungsabsicht', 28.0)

In [100]:
# Average age of enterprises by Nace code
query4 = """
SELECT
    NaceCode,
    AVG((julianday('now') - julianday(StartDate_ISO)) / 365.25) AS average_age_years
FROM
    enterprise
    INNER JOIN activity ON activity.EntityNumber = enterprise.EnterpriseNumber
GROUP BY
    NaceCode
ORDER BY average_age_years DESC
LIMIT 100
"""
execute_query(query4)

(80226, 96.48851370646106)
(75302, 81.02048641091837)
(10100, 68.73875326840493)
(70202, 66.53313188974334)
(75114, 62.9098689426007)
(66033, 60.477692677159546)
(26240, 60.13669988031459)
(84114, 59.91288191270181)
(11100, 59.82937612945901)
(75220, 57.56448906580398)
(91310, 56.75960119689872)
(84232, 56.10247674547544)
(75232, 56.10247674547544)
(80224, 55.94799014860153)
(65222, 55.57684319497308)
(75115, 55.23571881711587)
(26402, 54.489882631854634)
(75303, 54.36300946133604)
(80103, 54.31739803226531)
(84115, 53.87206047720787)
(75111, 53.50537637835453)
(66031, 52.35598461679645)
(80105, 52.19100058759272)
(66020, 51.79740194348072)
(41000, 51.61694591438872)
(1412, 51.267432255400145)
(80214, 50.79797903947997)
(27441, 50.72259994876086)
(24110, 50.69279470951003)
(27451, 50.66620022254594)
(85324, 50.21414644108622)
(94910, 50.13888615860418)
(91200, 50.12719488890266)
(55210, 49.63786346689912)
(26810, 49.30389544997423)
(85313, 49.246150327833504)
(29130, 49.241618233692904)
(75130, 49.199004238060425)
(80304, 48.99894737500561)
(84302, 48.60264152353207)
(24151, 48.295463390493985)
(75301, 48.17658124011381)
(32202, 48.03354732565823)
(85322, 47.865830105680274)
(17150, 47.69805707206193)
(27442, 47.63247902701776)
(28743, 47.50406078771657)
(29540, 47.46718128574466)
(66013, 47.29804640511081)
(14122, 47.281199733644016)
(16000, 47.27206554134761)
(15430, 47.1629376170246)
(65120, 46.91354296172149)
(75113, 46.76421528072527)
(85314, 46.33394884209613)
(36620, 46.135239693228115)
(27340, 46.0850457621307)
(24130, 45.96154763124037)
(21240, 45.77334796870805)
(85110, 45.763872662674785)
(60211, 45.643010626378924)
(28751, 45.49630354381969)
(86102, 45.49129718809465)
(14300, 45.395524560083835)
(15920, 45.08700788852814)
(15610, 45.05004690290186)
(15620, 44.983699652160354)
(18300, 44.958739579151)
(17170, 44.59346465330113)
(21122, 44.5876945591691)
(28742, 44.34135422665271)
(80219, 44.26583517577432)
(55231, 44.16837797076007)
(24620, 44.02738140959981)
(85326, 43.85830101601565)
(87901, 43.82493508079849)
(23300, 43.78351712877455)
(27540, 43.68541080890232)
(87991, 43.65765527395992)
(17510, 43.652169897368154)
(24170, 43.637042111662986)
(91311, 43.28440693028036)
(24300, 43.28046337212736)
(26650, 43.02458489058153)
(85206, 43.006053063066126)
(25130, 42.985167444387905)
(28610, 42.78263710530725)
(60212, 42.78177663791701)
(24120, 42.74609983468375)
(15710, 42.62300525101744)
(31400, 42.559697826926495)
(21230, 42.31061292379285)
(24700, 42.277699195851895)
(15960, 42.14970467155347)
(15980, 42.135787263385545)
(65223, 41.98763911523739)
(87201, 41.97728892324133)
(15830, 41.931752192820696)
(63404, 41.70992813937447)
(24511, 41.66434009451115)

In [58]:
# Percentage of enterprises by juridical form
query5 = """
SELECT
    COUNT(*) AS entity_count,
    Description,
    enterprise.JuridicalForm,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM enterprise WHERE JuridicalForm IS NOT NULL), 2) AS percentage
FROM
    enterprise
    LEFT JOIN code ON code.Code = enterprise.JuridicalForm 
        AND code.Category = 'JuridicalForm'
        AND code.Language = 'NL'  
WHERE enterprise.JuridicalForm IS NOT NULL
GROUP BY
    enterprise.JuridicalForm, Description
HAVING entity_count > 0
ORDER BY entity_count DESC
"""

execute_query(query5)

(493384, 'Besloten Vennootschap', 610.0, 42.78)
(139213, 'Vereniging zonder winstoogmerk', 17.0, 12.07)
(108445, 'Vereniging van mede-eigenaars', 70.0, 9.4)
(86541, 'Besloten vennootschap met beperkte aansprakelijkheid', 15.0, 7.5)
(80675, 'Naamloze vennootschap', 14.0, 7.0)
(67576, 'Buitenlandse entiteit', 30.0, 5.86)
(47352, 'Commanditaire vennootschap', 612.0, 4.11)
(27737, 'Vennootschap of vereniging zonder rechtspersoonlijkheid', 721.0, 2.41)
(24888, 'Vennootschap onder firma', 11.0, 2.16)
(16182, 'Gewone commanditaire vennootschap', 12.0, 1.4)
(12149, 'Buitenlandse entiteit zonder Belgische vestiging met vertegenwoordiger voor BTW', 235.0, 1.05)
(8320, 'BTW-eenheid', 3.0, 0.72)
(7189, 'Coöperatieve vennootschap (oud statuut)', 16.0, 0.62)
(4870, 'Openbare instelling', 124.0, 0.42)
(4111, 'Coöperatieve vennootschap met beperkte aansprakelijkheid', 8.0, 0.36)
(3898, 'Buitenlandse entiteit met onroerend goed in België (met rechtspersoonlijkheid)', 230.0, 0.34)
(2862, 'Coöperatieve vennootschap met onbeperkte aansprakelijkheid', 6.0, 0.25)
(2502, 'Internationale vereniging zonder winstoogmerk', 125.0, 0.22)
(2245, 'Private stichting', 26.0, 0.19)
(1753, 'Coöperatieve vennootschap', 706.0, 0.15)
(1678, 'Ziekenfonds / Maatschappij van onderlinge bijstand / Landsbond van ziekenfondsen', 19.0, 0.15)
(1283, 'Beroepsvereniging', 20.0, 0.11)
(931, 'Ongekende rechtsvorm RSZ', 999.0, 0.08)
(790, 'Internationale wetenschappelijke organisatie van Belgisch recht', 22.0, 0.07)
(732, 'Stichting van openbaar nut', 29.0, 0.06)
(567, 'Openbaar centrum voor maatschappelijk welzijn', 412.0, 0.05)
(565, 'Stad / gemeente', 411.0, 0.05)
(376, 'Landbouwvennootschap', 25.0, 0.03)
(361, 'Buitenlandse of internationale publieke organisatie', 160.0, 0.03)
(342, 'Commanditaire vennootschap op aandelen', 13.0, 0.03)
(332, 'Polder / Watering', 129.0, 0.03)
(299, 'Autonoom gemeentebedrijf', 418.0, 0.03)
(279, 'Andere rechtsvorm', 151.0, 0.02)
(268, 'Europees economisch samenwerkingsverband', 65.0, 0.02)
(244, 'Andere privaatrechtelijke vorm met rechtspersoonlijkheid', 51.0, 0.02)
(200, 'Buitenlandse onderneming zonder Belgische vestiging genoteerd op de beurs', 453.0, 0.02)
(186, 'Lokale politiezone', 413.0, 0.02)
(173, 'Instelling van openbaar nut', 18.0, 0.02)
(139, 'Organisme voor de Financiering van Pensioenen', 2.0, 0.01)
(134, 'Economisch samenwerkingsverband', 60.0, 0.01)
(124, "Vereniging van OCMW's", 420.0, 0.01)
(122, 'Organismen ingeschreven voorde R.V.P.', 451.0, 0.01)
(110, 'Coöperatieve vennootschap met beperkte aansprakelijkheid met een sociaal oogmerk', 508.0, 0.01)
(82, 'Besloten Vennootschap van publiek recht', 616.0, 0.01)
(76, 'Naamloze vennootschap van publiek recht', 114.0, 0.01)
(73, 'Projectvereniging', 415.0, 0.01)
(60, 'Onderlinge verzekeringsvereniging / Gemeenschappelijke verzekeringskas van privaat recht', 21.0, 0.01)
(60, 'Ministerie van Binnenlandse Zaken', 379.0, 0.01)
(54, 'Opdrachthoudende vereniging (Vlaams Gewest)', 417.0, 0.0)
(47, 'Andere federale dienst', 303.0, 0.0)
(43, 'Overheid van het Vlaamse Gewest en van de Vlaamse Gemeenschap', 310.0, 0.0)
(38, 'Coöperatieve vennootschap van publiek recht (oud statuut)', 116.0, 0.0)
(38, 'Buitenlandse entiteit met onroerend goed in België (zonder rechtspersoonlijkheid)', 454.0, 0.0)
(35, 'Tijdelijke vereniging', 722.0, 0.0)
(34, 'Besloten vennootschap met beperkte aansprakelijkheid met een sociaal oogmerk', 515.0, 0.0)
(33, 'Hulpverleningszone', 422.0, 0.0)
(32, 'Buitenlandse privaatrechtelijke vereniging met vestiging in België', 23.0, 0.0)
(27, 'Vereniging zonder winstoogmerk van publiek recht', 117.0, 0.0)
(26, 'Dienstverlenende vereniging (Vlaams Gewest)', 416.0, 0.0)
(26, 'Autonoom provinciebedrijf', 419.0, 0.0)
(24, 'Beroepsvereniging / Orde', 123.0, 0.0)
(20, 'Intercommunale', 414.0, 0.0)
(19, 'Organisme ingeschreven voor de Administratie van de Pensioenen', 452.0, 0.0)
(18, 'Maatschap', 702.0, 0.0)
(16, 'Provinciale overheid', 400.0, 0.0)
(14, 'Overheid van de Franse Gemeenschap', 340.0, 0.0)
(13, 'Europese vennootschap (Societas Europaea)', 27.0, 0.0)
(12, 'Federale overheidsdienst', 301.0, 0.0)
(10, 'Coöperatieve vennootschap met beperkte aansprakelijkheid, bij wijze van deelneming', 9.0, 0.0)
(10, 'Overheid van het Brusselse Hoofdstedelijk Gewest', 330.0, 0.0)
(10, 'Naamloze vennootschap met een sociaal oogmerk', 514.0, 0.0)
(9, 'Coöperatieve vennootschap met beperkte aansprakelijkheid van publiek recht', 108.0, 0.0)
(9, 'Gewone commanditaire vennootschap met een sociaal oogmerk', 512.0, 0.0)
(8, 'Overheid van het Waalse Gewest', 320.0, 0.0)
(7, 'Europese Coöperatieve Vennootschap', 1.0, 0.0)
(7, 'Europese politieke partij', 217.0, 0.0)
(7, 'Overheid van de Duitstalige Gemeenschap', 350.0, 0.0)
(6, 'Europees economisch samenwerkingsverband zonder zetel met vestiging in België (EESV)', 265.0, 0.0)
(6, 'Ministerie van het Waalse Gewest', 388.0, 0.0)
(6, 'Coöperatieve vennootschap van publiek recht', 716.0, 0.0)
(5, 'Kongolese vennootschap', 40.0, 0.0)
(5, 'Europese politieke stichting', 218.0, 0.0)
(5, 'Ministerie van de Franse Gemeenschap', 386.0, 0.0)
(5, 'Diversen zonder rechtspersoonlijkheid', 790.0, 0.0)
(4, 'Rijk, Provincie, Gewest, Gemeenschap', 110.0, 0.0)
(4, 'Ministerie van de Vlaamse Gemeenschap', 385.0, 0.0)
(4, 'Coöperatieve vennootschap met onbeperkte aansprakelijkheid met een sociaal oogmerk', 506.0, 0.0)
(4, 'Economisch samenwerkingsverband met een sociaal oogmerk', 560.0, 0.0)
(3, 'Andere', 393.0, 0.0)
(2, 'Coöperatieve vennootschap met onbeperkte aansprakelijkheid, bij wijze van deelneming', 7.0, 0.0)
(2, 'Programmatorische federale overheidsdienst', 302.0, 0.0)
(2, 'Internationale vereniging zonder winstoogmerk van publiek recht', 325.0, 0.0)
(2, 'Ministerie van Economische Zaken', 370.0, 0.0)
(1, 'Instelling zonder winstoogmerk', 28.0, 0.0)
(1, 'Berg van Barmhartigheid', 127.0, 0.0)
(1, 'Ministerie van Buitenlandse Zaken, Buitenlandse handel en Ontwikkelingssamenwerking', 371.0, 0.0)
(1, 'Ministerie van Middenstand', 373.0, 0.0)
(1, 'Ministerie van Justitie', 380.0, 0.0)
(1, 'Diensten van de Eerste Minister', 383.0, 0.0)
(1, 'Ministerie van het Brusselse Hoofdstedelijk Gewest', 387.0, 0.0)
(1, 'Vennootschap onder firma met een sociaal oogmerk', 511.0, 0.0)
(1, 'Commanditaire vennootschap op aandelen met een sociaal oogmerk', 513.0, 0.0)
(1, 'Commanditaire vennootschap van publiek recht', 617.0, 0.0)
(1, 'Andere vorm met een sociaal oogmerk van publiek recht', 651.0, 0.0)
(1, 'Vakbond', 724.0, 0.0)

In [59]:
# Distribution of companies outside Belgium
query6 = """
SELECT COUNT(*) as count, CountryNL
FROM address
where Zipcode IS NULL
GROUP BY CountryNL
ORDER BY count DESC
"""
execute_query(query6)

(2209, 'Duitsland (Bondsrep.)')
(1988, 'Groot-Brittannië')
(1291, 'Luxemburg (Groot-Hertogdom)')
(1156, 'Verenigde Staten van Amerika')
(720, 'Zwitserland')
(654, 'Frankrijk')
(336, 'Italië')
(284, 'Nederland')
(179, 'Liechtenstein')
(178, 'Ierland /Eire/')
(166, 'Spanje')
(162, 'Zweden')
(110, 'Panama')
(95, 'Maagdeneilanden')
(94, 'Denemarken')
(88, 'Japan')
(83, 'Oostenrijk')
(79, 'Canada')
(77, 'Portugal')
(74, 'Finland')
(72, 'Gibraltar')
(67, 'Nederlandse Antillen')
(67, 'Congo (Dem. Rep.)')
(54, 'Noorwegen')
(32, 'Liberia')
(31, 'Zuid-Afrika /Rep./')
(31, 'Israël')
(27, 'Griekenland')
(26, 'Onbepaald')
(22, 'Cyprus')
(20, 'Duitsland (Dem. rep.)')
(20, 'Australië')
(19, 'Monaco /Vorstendom/')
(18, 'Turkije')
(17, 'India')
(17, 'Bahamas')
(16, 'Marokko')
(15, 'Roemenië')
(14, 'Joegoslavië (Servië-Montenegro)')
(13, 'Libanon')
(13, 'Hong Kong(V.K.)')
(12, 'Polen ( Rep. )')
(9, 'Tunesië')
(9, 'China /Volksrep./')
(9, 'Andorra')
(8, 'Singapore')
(8, 'Nieuw-Zeeland')
(8, 'Malta')
(7, 'Zuid-Korea ( Rep. )')
(7, 'Unie d. Socialist. Sovjetrep.')
(6, 'Ijsland')
(6, 'Hongarije ( Rep. )')
(5, 'Tsjecho-Slovakije')
(5, 'Rwanda /Rep./')
(5, 'Maleisië')
(5, 'Iran')
(5, 'Indonesië')
(5, 'Albanië')
(4, 'Thailand')
(4, 'Rusland ( Federatie van )')
(4, 'Filippijnen')
(4, 'China-Taïwan ( Rep. )')
(4, 'Caïmanes(V.K.)')
(4, 'Burundi')
(4, 'Bulgarije')
(4, 'Britse Antillen')
(4, "Bermuda's")
(4, 'Argentinië')
(3, 'Verenigde Arabische Emiraten')
(3, 'Venezuela')
(3, 'Turks en Caicos Eilanden')
(3, 'Saoedi-Arabië')
(3, 'Pakistan')
(3, 'Hong-Kong')
(3, 'Congo(Volksrep.)')
(3, 'Brazilië')
(3, 'Barbados')
(2, 'Zambia')
(2, 'Tsjechische Republiek')
(2, 'Seychellen (Eilanden)')
(2, 'Saint Vincent')
(2, 'Mexico')
(2, 'Lesotho')
(2, 'Jordanië')
(2, 'Guatemala')
(2, 'Franse Antillen')
(2, 'El Salvador')
(2, 'Cuba')
(2, 'Colombia')
(2, 'Botswana')
(2, 'Bolivië')
(2, 'Belize')
(2, "Bahama's")
(2, 'Amerikaanse Antillen')
(2, 'Algerije')
(1, 'Zaïre (Republiek)')
(1, 'West-Samoa')
(1, 'Vanuatu')
(1, 'Uganda')
(1, 'Tuvalu')
(1, 'Turkmenistan ( Rep. )')
(1, 'Togo')
(1, 'Tanzania /Verenigde Rep./')
(1, 'Syrië(Syrisch-Arabische Rep.)')
(1, 'Swaziland')
(1, 'Suriname')
(1, 'Sri Lanka')
(1, 'Somalië(Rep.)')
(1, 'Socialistische Republiek Vietnam')
(1, 'Senegal')
(1, 'San Marino')
(1, 'Rhodesië')
(1, 'Peru')
(1, 'Paraguay')
(1, 'Oekraïne ( Rep. )')
(1, 'Noord-Korea ( Volksrep. )')
(1, 'Niue-eiland(N-Z.)')
(1, 'Nigeria (Fed.Rep.)')
(1, 'Nieuw-Caledonië')
(1, 'Myanmar (Unie van)')
(1, 'Mauritius /Eiland/')
(1, 'Libië')
(1, 'Koeweit/Vorstendom/')
(1, 'Kitts and Nevis(V.K.)')
(1, 'Joegoslavië')
(1, 'Ivoorkust')
(1, 'Irak')
(1, 'Honduras')
(1, 'Guinea')
(1, 'Groenland(D.K.)')
(1, 'Ghana')
(1, 'Gambia')
(1, 'Gabon')
(1, 'Frans Guyana')
(1, 'Ethiopië')
(1, 'Dominikaanse Republiek')
(1, 'Dominica (Republiek)')
(1, 'Democratische Republ. Madagascar')
(1, 'Cambodja')
(1, 'Brunei')
(1, 'Benin(Volksrepubliek)')
(1, 'Bangladesh')
(1, 'Bahrein')

In [60]:
# Count of enterprises by starting month
query7 = """
    SELECT 
    	COUNT(*) AS count,  
    	strftime('%m', StartDate_ISO) AS month
    FROM enterprise
    GROUP BY month
    ORDER BY count DESC
"""
execute_query(query7)

(262813, '01')
(220905, '10')
(190441, '04')
(172372, '07')
(152819, '12')
(144267, '02')
(140084, '03')
(130018, '09')
(129974, '05')
(129013, '06')
(128929, '11')
(124611, '08')

In [61]:
# nr of enterprises created by year
query8 = """
    SELECT 
    	COUNT(*) AS count,  
    	strftime('%Y', StartDate_ISO) AS year
    FROM enterprise
    GROUP BY year
    ORDER BY count DESC
"""
execute_query(query8)

(130923, '2024')
(115432, '2023')
(105626, '2022')
(100446, '2021')
(84786, '2020')
(81171, '2019')
(74092, '2025')
(73309, '2018')
(66413, '2017')
(61028, '2016')
(52542, '2015')
(49466, '2014')
(44352, '2011')
(43779, '2013')
(42024, '2012')
(41178, '2010')
(40525, '1995')
(37958, '2007')
(37820, '2008')
(36784, '2009')
(34056, '2006')
(30255, '2005')
(27495, '2004')
(24043, '2002')
(23838, '2003')
(23660, '2001')
(23337, '2000')
(23217, '1998')
(22421, '1999')
(21951, '1996')
(21754, '1997')
(20339, '1992')
(19847, '1989')
(19358, '1993')
(19129, '1994')
(18941, '1991')
(18477, '1990')
(17549, '1988')
(15386, '1987')
(13429, '1986')
(12663, '1968')
(11487, '1985')
(10515, '1983')
(10428, '1984')
(9013, '1971')
(8816, '1982')
(7598, '1981')
(7350, '1980')
(6898, '1978')
(6810, '1979')
(6752, '1977')
(6267, '1976')
(5776, '1800')
(5531, '1975')
(4884, '1974')
(4643, '1973')
(4053, '1972')
(3624, '1969')
(3503, '1970')
(2422, '1967')
(2019, '1966')
(1974, '1965')
(1629, '1964')
(1436, '1961')
(1403, '1963')
(1294, '1962')
(1181, '1960')
(1125, '1959')
(829, '1957')
(808, '1956')
(796, '1955')
(786, '1958')
(723, '1945')
(643, '1948')
(631, '1954')
(630, '1946')
(621, '1947')
(617, '1953')
(589, '1952')
(570, '1949')
(567, '1950')
(538, '1938')
(528, '1922')
(523, '1951')
(373, '1939')
(348, '1941')
(348, '1923')
(338, '1937')
(247, '1929')
(243, '1928')
(233, '1936')
(233, '1935')
(231, '1925')
(211, '1940')
(209, '1924')
(196, '1931')
(191, '1932')
(189, '1930')
(184, '1942')
(181, '1944')
(179, '1926')
(177, '1933')
(170, '1927')
(169, '1934')
(142, '1921')
(131, '1943')
(111, '1920')
(110, '1919')
(98, '1913')
(83, '1900')
(74, '1912')
(71, '1910')
(69, '1911')
(65, '1898')
(62, '1899')
(62, '1897')
(62, '1896')
(60, '1906')
(53, '1914')
(50, '1908')
(49, '1905')
(48, '1909')
(45, '1895')
(43, '1907')
(43, '1904')
(42, '1901')
(33, '1894')
(33, '1892')
(30, '1903')
(24, '1902')
(21, '1891')
(20, '1917')
(18, '1893')
(16, '1890')
(13, '1916')
(12, '1889')
(12, '1888')
(12, '1887')
(11, '1918')
(10, '1886')
(10, '1877')
(9, '1915')
(8, '1874')
(7, '1876')
(6, '1882')
(6, '1879')
(5, '1883')
(5, '1881')
(5, '1880')
(3, '1884')
(3, '1872')
(3, '1842')
(3, '1830')
(3, '1815')
(3, '1810')
(3, '1809')
(2, '1885')
(2, '1868')
(2, '1865')
(2, '1863')
(2, '1860')
(2, '1853')
(2, '1850')
(2, '1848')
(2, '1835')
(2, '1831')
(2, '1804')
(1, '1878')
(1, '1875')
(1, '1871')
(1, '1870')
(1, '1869')
(1, '1864')
(1, '1859')
(1, '1856')
(1, '1855')
(1, '1854')
(1, '1851')
(1, '1849')
(1, '1845')
(1, '1841')
(1, '1836')
(1, '1829')
(1, '1825')
(1, '1819')
(1, '1817')
(1, '1816')
(1, '1814')
(1, '1813')
(1, '1803')
(1, '1802')
(1, '1618')

In [68]:
# Company creation trends - year over year growth
query9 = """
SELECT 
    year,
    count AS companies_created,
    LAG(count) OVER (ORDER BY year) AS previous_year,
    ROUND(((count - LAG(count) OVER (ORDER BY year)) * 100.0 / 
           LAG(count) OVER (ORDER BY year)), 2) AS growth_percentage
FROM (
    SELECT 
        strftime('%Y', StartDate_ISO) AS year,
        COUNT(*) AS count
    FROM enterprise
    WHERE StartDate_ISO IS NOT NULL
    GROUP BY year
    ORDER BY year
) 
WHERE year >= '2005' and year < '2025'
ORDER BY growth_percentage DESC
"""

execute_query(query9)

('2021', 100446, 84786, 18.47)
('2016', 61028, 52542, 16.15)
('2024', 130923, 115432, 13.42)
('2014', 49466, 43779, 12.99)
('2006', 34056, 30255, 12.56)
('2010', 41178, 36784, 11.95)
('2007', 37958, 34056, 11.46)
('2019', 81171, 73309, 10.72)
('2018', 73309, 66413, 10.38)
('2023', 115432, 105626, 9.28)
('2017', 66413, 61028, 8.82)
('2011', 44352, 41178, 7.71)
('2015', 52542, 49466, 6.22)
('2022', 105626, 100446, 5.16)
('2020', 84786, 81171, 4.45)
('2013', 43779, 42024, 4.18)
('2008', 37820, 37958, -0.36)
('2009', 36784, 37820, -2.74)
('2012', 42024, 44352, -5.25)
('2005', 30255, None, None)

In [69]:
# Debug: Check what types of address situations exist
debug_query = """
SELECT 
    'Enterprises with Belgian addresses' as category,
    COUNT(DISTINCT enterprise.EnterpriseNumber) as count
FROM enterprise
INNER JOIN address ON enterprise.EnterpriseNumber = address.EntityNumber
WHERE address.Zipcode IS NOT NULL

UNION ALL

SELECT 
    'Enterprises with foreign addresses' as category,
    COUNT(DISTINCT enterprise.EnterpriseNumber) as count
FROM enterprise
INNER JOIN address ON enterprise.EnterpriseNumber = address.EntityNumber
WHERE address.Zipcode IS NULL

UNION ALL

SELECT 
    'Enterprises with NO address records' as category,
    COUNT(DISTINCT enterprise.EnterpriseNumber) as count
FROM enterprise
LEFT JOIN address ON enterprise.EnterpriseNumber = address.EntityNumber
WHERE address.EntityNumber IS NULL

UNION ALL

SELECT 
    'Total enterprises' as category,
    COUNT(DISTINCT EnterpriseNumber) as count
FROM enterprise
"""

execute_query(debug_query)

('Enterprises with Belgian addresses', 1142297)
('Enterprises with foreign addresses', 10904)
('Enterprises with NO address records', 773045)
('Total enterprises', 1926246)

In [94]:
# Nace code distribution for enterprises abroad
query11 = """
SELECT 
    NaceCode, 
    COUNT(DISTINCT activity.EntityNumber) as enterprise_count,
    ROUND(COUNT(DISTINCT activity.EntityNumber) * 100.0 / (
        SELECT COUNT(DISTINCT activity.EntityNumber) 
        FROM address 
        INNER JOIN activity ON activity.EntityNumber = address.EntityNumber 
        WHERE Zipcode IS NULL
    ), 2) AS percentage
FROM address
INNER JOIN activity ON activity.EntityNumber = address.EntityNumber
WHERE Zipcode IS NULL
GROUP BY NaceCode
ORDER BY enterprise_count DESC
"""
execute_query(query11)

(51550, 16, 7.44)
(46851, 16, 7.44)
(46751, 16, 7.44)
(94110, 13, 6.05)
(91110, 12, 5.58)
(99000, 9, 4.19)
(46720, 9, 4.19)
(51872, 8, 3.72)
(51460, 8, 3.72)
(46460, 8, 3.72)
(46699, 7, 3.26)
(46649, 7, 3.26)
(45310, 7, 3.26)
(73300, 6, 2.79)
(70210, 6, 2.79)
(62100, 6, 2.79)
(97000, 5, 2.33)
(95000, 5, 2.33)
(71121, 5, 2.33)
(51100, 5, 2.33)
(50301, 5, 2.33)
(74203, 4, 1.86)
(73200, 4, 1.86)
(70220, 4, 1.86)
(70200, 4, 1.86)
(52100, 4, 1.86)
(51180, 4, 1.86)
(46820, 4, 1.86)
(46180, 4, 1.86)
(94999, 3, 1.4)
(94992, 3, 1.4)
(92400, 3, 1.4)
(91330, 3, 1.4)
(74142, 3, 1.4)
(74141, 3, 1.4)
(74131, 3, 1.4)
(72100, 3, 1.4)
(63910, 3, 1.4)
(63122, 3, 1.4)
(62200, 3, 1.4)
(62020, 3, 1.4)
(60310, 3, 1.4)
(52290, 3, 1.4)
(52250, 3, 1.4)
(51900, 3, 1.4)
(51810, 3, 1.4)
(51562, 3, 1.4)
(51541, 3, 1.4)
(51520, 3, 1.4)
(51130, 3, 1.4)
(47910, 3, 1.4)
(46900, 3, 1.4)
(46869, 3, 1.4)
(46841, 3, 1.4)
(46769, 3, 1.4)
(46741, 3, 1.4)
(46620, 3, 1.4)
(46130, 3, 1.4)
(45340, 3, 1.4)
(43299, 3, 1.4)
(43240, 3, 1.4)
(94200, 2, 0.93)
(94120, 2, 0.93)
(91120, 2, 0.93)
(82990, 2, 0.93)
(81220, 2, 0.93)
(74879, 2, 0.93)
(74111, 2, 0.93)
(73100, 2, 0.93)
(72220, 2, 0.93)
(72190, 2, 0.93)
(72109, 2, 0.93)
(70311, 2, 0.93)
(70100, 2, 0.93)
(69101, 2, 0.93)
(68311, 2, 0.93)
(68310, 2, 0.93)
(62010, 2, 0.93)
(52610, 2, 0.93)
(51871, 2, 0.93)
(51561, 2, 0.93)
(51532, 2, 0.93)
(51476, 2, 0.93)
(51410, 2, 0.93)
(51160, 2, 0.93)
(51140, 2, 0.93)
(47120, 2, 0.93)
(46861, 2, 0.93)
(46810, 2, 0.93)
(46761, 2, 0.93)
(46710, 2, 0.93)
(46693, 2, 0.93)
(46643, 2, 0.93)
(46499, 2, 0.93)
(46496, 2, 0.93)
(46431, 2, 0.93)
(46412, 2, 0.93)
(46160, 2, 0.93)
(46140, 2, 0.93)
(45331, 2, 0.93)
(43222, 2, 0.93)
(43211, 2, 0.93)
(29230, 2, 0.93)
(28250, 2, 0.93)
(23200, 2, 0.93)
(19200, 2, 0.93)
(94993, 1, 0.47)
(93191, 1, 0.47)
(92621, 1, 0.47)
(91200, 1, 0.47)
(90021, 1, 0.47)
(85599, 1, 0.47)
(85319, 1, 0.47)
(84119, 1, 0.47)
(82920, 1, 0.47)
(82300, 1, 0.47)
(82110, 1, 0.47)
(82100, 1, 0.47)
(80215, 1, 0.47)
(77110, 1, 0.47)
(74872, 1, 0.47)
(74855, 1, 0.47)
(74820, 1, 0.47)
(74700, 1, 0.47)
(74302, 1, 0.47)
(74152, 1, 0.47)
(71209, 1, 0.47)
(71100, 1, 0.47)
(68321, 1, 0.47)
(67130, 1, 0.47)
(66290, 1, 0.47)
(66199, 1, 0.47)
(65200, 1, 0.47)
(65120, 1, 0.47)
(64999, 1, 0.47)
(64190, 1, 0.47)
(64120, 1, 0.47)
(63406, 1, 0.47)
(63402, 1, 0.47)
(63121, 1, 0.47)
(60241, 1, 0.47)
(60211, 1, 0.47)
(59140, 1, 0.47)
(53200, 1, 0.47)
(52502, 1, 0.47)
(52487, 1, 0.47)
(52431, 1, 0.47)
(51880, 1, 0.47)
(51850, 1, 0.47)
(51820, 1, 0.47)
(51542, 1, 0.47)
(51510, 1, 0.47)
(51478, 1, 0.47)
(51477, 1, 0.47)
(51475, 1, 0.47)
(51471, 1, 0.47)
(51450, 1, 0.47)
(51430, 1, 0.47)
(51250, 1, 0.47)
(51190, 1, 0.47)
(51170, 1, 0.47)
(51120, 1, 0.47)
(50101, 1, 0.47)
(49420, 1, 0.47)
(49310, 1, 0.47)
(47990, 1, 0.47)
(47792, 1, 0.47)
(47721, 1, 0.47)
(47410, 1, 0.47)
(47400, 1, 0.47)
(46842, 1, 0.47)
(46839, 1, 0.47)
(46831, 1, 0.47)
(46742, 1, 0.47)
(46739, 1, 0.47)
(46731, 1, 0.47)
(46711, 1, 0.47)
(46695, 1, 0.47)
(46692, 1, 0.47)
(46660, 1, 0.47)
(46645, 1, 0.47)
(46642, 1, 0.47)
(46630, 1, 0.47)
(46610, 1, 0.47)
(46500, 1, 0.47)
(46498, 1, 0.47)
(46494, 1, 0.47)
(46492, 1, 0.47)
(46450, 1, 0.47)
(46423, 1, 0.47)
(46421, 1, 0.47)
(46350, 1, 0.47)
(46349, 1, 0.47)
(46215, 1, 0.47)
(46190, 1, 0.47)
(46170, 1, 0.47)
(46120, 1, 0.47)
(45450, 1, 0.47)
(45422, 1, 0.47)
(45421, 1, 0.47)
(45215, 1, 0.47)
(45111, 1, 0.47)
(43992, 1, 0.47)
(43390, 1, 0.47)
(43350, 1, 0.47)
(43320, 1, 0.47)
(42220, 1, 0.47)
(42110, 1, 0.47)
(38330, 1, 0.47)
(38219, 1, 0.47)
(36141, 1, 0.47)
(34100, 1, 0.47)
(33202, 1, 0.47)
(31091, 1, 0.47)
(31004, 1, 0.47)
(30020, 1, 0.47)
(29420, 1, 0.47)
(29120, 1, 0.47)
(29100, 1, 0.47)
(28410, 1, 0.47)
(28120, 1, 0.47)
(28110, 1, 0.47)
(27100, 1, 0.47)
(26800, 1, 0.47)
(26700, 1, 0.47)
(26510, 1, 0.47)
(26200, 1, 0.47)
(25991, 1, 0.47)
(24660, 1, 0.47)
(24650, 1, 0.47)
(24140, 1, 0.47)
(24100, 1, 0.47)
(21220, 1, 0.47)
(21121, 1, 0.47)
(20590, 1, 0.47)
(20140, 1, 0.47)
(17402, 1, 0.47)
(17220, 1, 0.47)
(17120, 1, 0.47)
(15510, 1, 0.47)
(13929, 1, 0.47)
(10510, 1, 0.47)
(8990, 1, 0.47)

In [97]:
# Check if enterprises have multiple NACE codes
enterprises_multiple_nace = """
SELECT 
    activity.EntityNumber,
    COUNT(DISTINCT activity.NaceCode) as nace_count,
    GROUP_CONCAT(DISTINCT activity.NaceCode) as nace_codes
FROM activity
GROUP BY activity.EntityNumber
HAVING COUNT(DISTINCT activity.NaceCode) > 1
ORDER BY nace_count DESC
LIMIT 100
"""
execute_query(enterprises_multiple_nace)

('2.163.164.138', 748, '46699,4311001,96099,4753002,4291101,43390,27120,16220,4332004,4613001,4299001,25110,81220,2790011,2740203,2561005,4332031,7111102,2511001,2550102,382 ... (5108 characters truncated) ... 500,43990,43223,81230,4684102,4342901,4664301,3100104,4332006,4323001,38330,7020002,6812203,77224,4399003,4100101,6812101,46872,2551004,47640,4618035')
('2.173.586.292', 669, '2814001,63120,25290,161003,4614005,4322211,2893003,81290,7739901,4763001,4741001,74909,4730001,4322202,46620,43211,2512001,7733002,2561001,2825001,46 ... (4609 characters truncated) ... 001,46879,4323003,1611004,2599903,4755902,8123001,4684202,4324001,3100302,4342903,77221,31004,4683101,47552,4681002,4221903,2551002,46841,62100,70200')
('2.036.350.890', 605, '43350,43390,4614002,7120905,4391002,4399906,43320,6832101,43130,46150,68204,4673201,26300,82300,3109101,4941003,6820302,2223001,3101012,6810002,43120 ... (4167 characters truncated) ... 00901,68310,46832,25401,46831,22240,6812202,4683102,4399002,4335001,68121,4342902,4332009,43422,68122,4322301,4683302,4332007,1611001,4324002,4341003')
('2.175.653.085', 602, '3299004,3832201,1101002,68100,80200,87201,30920,85593,2899011,46520,2740101,46736,45112,6202001,4777002,4931011,47113,88919,74300,4540202,46761,80300 ... (3947 characters truncated) ... 812,3100901,68110,8210001,4781202,63100,88991,3100101,47120,47621,7722101,4931003,4783003,2790011,4618021,4755103,47400,4755101,4727101,80010,4711001')
('2.180.993.728', 561, '4511201,53200,32124,17240,46695,47241,1071101,46412,4729902,4676101,4615009,47410,14110,46349,45320,47115,47787,4638903,4649903,47525,46733,14199,422 ... (3510 characters truncated) ... 16281,47621,4755901,4618021,4684101,4727903,4686902,14230,46730,4683204,4711001,4755101,4755903,8122011,4618034,4686904,4769011,74112,4727901,4686102')
('2.170.147.445', 546, '7311004,58140,4753002,9004201,43390,81220,6820102,4759901,4751303,6010001,4332031,4332013,77292,4753011,90023,56309,56102,43299,4772101,73120,4332004 ... (3690 characters truncated) ... 3,4341002,4324005,62200,2540102,77229,56220,82400,47552,4335001,9510001,4332010,80090,4755902,77223,4323003,1813003,4755102,90399,90391,9031201,90393')
('2.290.736.855', 533, '1610005,7729101,7729601,2511002,4391001,46742,2593002,43333,4331001,1629103,2593011,23630,23690,2599901,31020,1624003,4399901,2591001,33140,4329103,4 ... (3633 characters truncated) ... 1,43422,1611003,4323002,4332007,2599902,1628104,4684103,4322203,16281,3100301,7722912,1628202,3100101,4221902,8122011,4399004,3100901,6812102,2563901')
('2.290.724.878', 525, '46741,7729904,3103002,4332015,1610011,7732002,7721002,77292,4649902,4673102,4332031,1610002,4120301,1621002,33130,16292,4110102,4643102,2370001,16220 ... (3575 characters truncated) ... 2,4100105,4683204,2599905,2366001,2540102,4332007,4683302,43421,4341003,16282,4350001,4322301,4312006,4685101,38320,26200,4341001,4335001,68121,68122')
('2.304.125.429', 523, '4222001,4312021,4329911,3102001,4211001,3109111,7731001,25290,2599912,2561003,42911,4329904,41203,4332002,2591001,2369001,7712001,43211,1629202,23630 ... (3545 characters truncated) ... 4322203,1628107,2599905,4683204,4322301,2366001,4683302,4332007,16282,4312006,4350001,2540102,4335001,38320,4683202,26200,4341003,4324002,43421,68121')
('2.017.686.409', 487, '43320,4399902,29320,43299,1610004,3320011,71121,1621002,16220,3109901,4221911,2511001,4399904,4291101,7111102,4332015,4120301,4110102,1610002,4291905 ... (3382 characters truncated) ... 903,4342101,6812203,43223,4342903,6812101,4332008,3299009,4324005,1611004,4342901,31002,4683101,4399001,4324001,4341002,4324003,4332006,31009,1611002')
('2.346.846.704', 483, '20412,74104,82110,46150,26520,10920,13929,85609,68204,24540,35140,90032,56301,33160,10810,33190,10392,93125,47716,10510,10320,10730,59209,10840,10620 ... (2590 characters truncated) ... 250,81230,62200,90111,47279,9623002,47553,38210,90399,31002,25220,14210,31003,47554,47110,31001,47552,90393,60310,47271,25631,23150,62100,17250,82100')
('2.169.907.420', 475, '5610204,4751202,90042,7731001,9103002,4329904,7729301,7112102,4779101,4615002,60100,33170,1820011,4778201,63120,2561005,74909,85520,7739901,73120,931 ... (3148 characters truncated) ... 9031101,47713,43910,4774201,5611203,47540,4712001,91110,4740001,43990,4755101,4769011,4755301,5611105,91210,43422,47722,16281,4933002,4324004,2521013')
('2.098.065.359', 458, '25620,3109111,4120101,81100,41202,2223003,4399931,4741002,2599913,3109101,4334101,4399111,3101021,6820302,4329904,4222002,4110212,43211,41203,4399907 ... (3095 characters truncated) ... 00301,3100404,8123002,4324004,9510001,4322301,2553011,2224001,4341003,2599905,2224003,4323003,4341001,62900,4100105,68122,43990,68310,6811001,4740001')
('2.214.510.691', 458, '66120,61200,47519,50300,74101,46431,11020,128021,77400,77392,1039201,47523,64110,46220,46761,80200,94991,1031103,7311001,58190,58130,92000,4329901,94 ... (2520 characters truncated) ... 74991,46500,96993,62200,16110,47120,88993,47742,96991,64310,74301,90312,31009,46861,90202,66129,47271,16281,77226,46869,91410,47639,81230,93293,90392')
('2.152.417.825', 446, '27900,25210,2561002,2920202,2591002,6820401,2822002,3109101,2599911,2830011,2572002,3101012,2893004,2891001,4399906,7022002,28940,2920211,2822004,281 ... (3131 characters truncated) ... 06,2521011,162004,2599902,7020002,28420,3100105,2599904,2830007,2830006,3100401,2551001,42990,7020001,2551003,2920104,2562002,2812002,4399002,2563901')
('2.357.474.637', 446, '4614006,2830013,2599913,2561011,33200,41101,74101,2611001,2352011,27900,2229001,27110,4399111,2561004,4399201,27520,2822004,2899002,2822002,43999,494 ... (2991 characters truncated) ... 99004,4399004,4342904,22240,6812202,4618034,4755901,43422,4341003,4322203,41001,23450,4399002,2551003,2812002,2551001,4350001,2562002,4618032,8123002')
('2.317.830.440', 437, '49330,49320,4615009,46412,47241,47761,46433,47715,47592,46695,47300,46733,4759902,4638905,4771301,47410,47630,47740,4671001,4729902,46442,46170,46213 ... (2809 characters truncated) ... 1,4684202,4683601,46810,46841,4683101,4681002,4778921,47552,4727902,4618031,4721002,4664901,4711011,4712021,46842,47110,4618033,47271,4664301,4686903')
('2.093.176.163', 420, '41003,41203,1610005,4299013,1629101,7111101,2365002,4331001,4291102,6810001,6820103,4399901,4120302,95120,2511002,4321201,1629103,23690,68203,41201,7 ... (2847 characters truncated) ... 150,1628108,4323001,4391002,6812203,68322,4221903,4399001,4100103,1611002,31009,4324005,4332008,4342901,1611004,31001,6812201,6812101,4399003,4342903')
('2.182.627.682', 420, '4321101,4291903,4299001,7410501,4120112,4332011,4399301,4329102,7311011,41102,4313002,4334201,4211003,46699,4321103,4332002,4329904,41203,4613001,467 ... (2843 characters truncated) ... 007,4324004,4683102,4350001,4684103,4683202,63920,63100,4100302,4399002,4332009,4684201,4342902,4755101,4221902,6812102,8122011,6812202,27402,4399004')
('2.361.083.928', 412, '4322101,28250,2740204,4391001,53200,9601103,4333101,7111101,9529008,4120302,4332016,2711003,95120,1610003,27510,43320,4221901,9601202,4110211,43341,4 ... (2685 characters truncated) ... 005,4341001,6812101,25402,43990,82100,7112111,74120,4221903,47820,25401,4332010,96102,9510001,3312003,4100301,7311008,4100105,9529010,4100101,4323001')
('2.102.694.239', 405, '41003,45213,41203,2370002,4221901,4321201,4399901,6810001,7739201,4291102,4332014,4120302,4299013,6820103,7732001,28220,43310,7111101,77399,4399903,4 ... (2728 characters truncated) ... 32007,6811001,4335001,68121,4341002,77221,3312003,4332008,25530,4399003,43240,4342901,4342903,6812101,4100103,4342101,4323003,6812203,4323001,4100101')
('2.078.551.533', 402, '4332021,26510,96012,37000,4332013,910001,4291904,8129001,4311001,4321102,4329102,4332004,4332012,27310,25110,4329101,4321101,4212001,4321201,2370001, ... (2685 characters truncated) ... 4332009,4342902,61100,41001,4221903,4342903,35130,43223,4221902,81230,4342904,4100302,25220,8122011,38330,2790001,4299011,96101,4323002,96102,4323001')
('2.312.064.482', 398, '4399401,2370002,4632101,4643101,5629001,6120001,4613002,4399901,4332005,4321102,1610005,46660,4391001,46381,4723001,4331001,43333,2365002,4722101,562 ... (2589 characters truncated) ... 011,4332010,80010,56111,4341003,4684101,5611205,56220,43421,1628102,6812202,5611201,46643,4683102,1611001,5611103,8123002,22240,41003,4399002,4332009')
('2.158.545.849', 394, '43343,41101,4332001,68311,7022002,46731,4313001,4399201,4329903,74300,43999,68100,77320,7112101,77299,9103001,4334101,4332012,81100,4332021,43310,439 ... (2504 characters truncated) ... 902,4342101,68110,4332010,91220,6619904,4335002,7020001,63100,7112203,77229,82100,4324003,47552,4332008,64210,4683101,4332006,7010001,4341002,4324001')
('2.170.444.779', 391, '42990,4399907,33140,7022003,4329902,4399601,2825001,9329901,46650,43211,4519301,4329911,4120101,4339002,4519402,4391003,3311001,4399101,96099,64999,4 ... (2535 characters truncated) ... 301,4100301,4781202,43410,9510002,4332010,6619902,70200,4342101,4312005,95314,4324005,95312,47551,47830,9610101,6831001,4332006,4341002,46472,4335002')
('2.206.293.902', 389, '4329903,68201,4332013,82990,6820401,4399201,4120121,4321103,2572002,4222002,7111302,7022002,4211002,4332004,97000,4311001,7311002,4329901,4321101,281 ... (2591 characters truncated) ... 4399002,4322203,43240,4323003,4100105,4350001,8123002,81230,8001001,4324002,25401,43421,63920,43990,9142001,1611001,43422,68121,4341001,4335001,68122')
('2.217.294.195', 387, '42220,3312011,31020,8130002,61900,68322,4333101,42110,71113,4221911,77310,42212,3101002,7320011,4391003,7120902,7111103,82190,4120302,4213002,3101011 ... (2541 characters truncated) ... 1,4100105,2599905,68329,74130,4324003,6832111,4100103,47552,9510001,6220002,4755102,31002,82100,3100404,62100,4100101,4399003,6812101,4342101,6812203')
('2.177.003.761', 386, '4649901,46660,4613002,46424,4775001,4764001,49310,4676903,4751901,4676912,4519101,4673101,47511,46496,4643101,4753003,4616002,4615005,4778902,4751302 ... (2443 characters truncated) ... 4932001,46832,46649,47639,4649402,46869,4740001,4763902,4683202,4672001,4782002,49330,4683302,86995,46646,4712001,46647,46641,46642,46645,46644,46425')
('2.152.882.732', 384, '3102001,7111301,7420101,7410501,3109102,47770,1629103,93299,23690,31020,6391001,1624003,74105,4329902,2341001,24410,32400,62090,23410,29320,47591,237 ... (2495 characters truncated) ... 3100402,4712001,1813005,1628105,7414001,3100201,23660,1628106,62900,1611002,31009,14299,3100401,2226001,9111002,1725001,1628102,1813004,3100103,47120')
('2.295.088.987', 382, '4321201,2752001,28410,28300,74103,9529006,26510,9511002,9529011,7311007,2562001,47410,3012002,6810001,62010,2821011,3312001,6820101,9521001,2899002,6 ... (2479 characters truncated) ... 1,2812002,2830006,4671301,2553011,3100402,28420,6811001,73300,7020001,90392,4778402,2599904,1813004,31003,4664301,43223,56111,77222,31009,77224,31001')
('2.295.101.756', 382, '1813012,3109901,7311006,62090,3320011,77330,3103002,9522001,33130,7120901,9511001,9529005,77220,43222,3320002,56301,71121,2620001,2740201,2894002,331 ... (2479 characters truncated) ... 0,46474,62200,56111,31001,2830007,3100901,3100403,2599905,4324004,2830003,3100101,27402,74112,9531901,1813005,9531301,3100104,3318001,4740001,6811001')
('2.295.093.046', 381, '2512001,7022001,7112102,2893003,7731001,4614005,9311021,2822003,33170,43211,7120906,2830014,63120,2561005,2920111,4520301,73120,25991,9529003,28240,7 ... (2471 characters truncated) ... 110,3100403,1813004,2599902,28420,4740011,74112,3100104,3318001,4778402,43223,9531301,31009,2553011,31001,3100402,77224,2599905,2830007,2830003,90392')
('2.337.202.726', 380, '46650,6832201,47784,47527,85592,6820402,46692,47299,46751,41203,47513,56210,7022003,46215,47793,47252,45402,46697,46160,47522,47789,96099,64200,45192 ... (2117 characters truncated) ... 73300,46879,5611103,46832,46713,46871,4727902,9622003,7020001,46649,7020004,74999,56220,9623002,46834,41001,47812,46643,46645,43421,46641,96220,68121')
('2.347.795.225', 379, '46370,6832101,47788,47783,46150,47521,46480,46696,47242,46471,47512,46640,56301,46691,1061002,4333201,45191,68201,41101,68311,5621001,4399902,47792,6 ... (2117 characters truncated) ... 42904,47271,4727903,47690,5611104,46872,46712,4342901,47621,47559,47279,46842,46851,47553,4721002,73300,46810,56111,4778402,96999,7010001,46500,47742')
('2.183.522.557', 374, '56112,56102,82990,1812001,4612001,58130,77400,4329901,5911402,5913004,63990,73110,59140,47910,7810002,46739,61200,4674103,46110,82110,4339001,43999,5 ... (2399 characters truncated) ... 0,68110,7320003,47781,4100101,6812203,63910,6220002,73300,7414002,4618035,43223,4100104,4399003,4312005,7010001,4342901,4618031,56111,4332006,4335002')
('2.349.660.296', 371, '4399931,6311001,88101,2432001,81100,41202,4312011,2451001,45204,6920201,4333201,45209,8122003,4110212,4329901,4399111,45191,43130,46494,4399201,47716 ... (2322 characters truncated) ... 2,41003,43350,63910,43410,8123002,4939002,4933002,4322301,4323002,63100,8210001,4399002,6812202,4342902,4100302,47783,8122011,6812102,4399004,4342904')
('2.331.181.006', 369, '7021002,46332,43333,6420011,20530,55100,70220,47592,41201,4721011,68322,46311,47525,96099,5610103,46442,96022,46493,46412,46383,46742,45402,66199,464 ... (2031 characters truncated) ... 41001,47811,7020003,46644,4778402,46500,9623001,47621,46851,96220,4332013,74999,41002,47400,7020001,47812,5611103,4342904,4727903,46323,9622002,46820')
('2.139.576.015', 364, '43990,43999,17240,1610003,4673601,2030002,7729101,1624003,77293,1621001,4673101,1610001,4613002,23140,4673202,4753001,2529002,3101011,23690,2312003,2 ... (2509 characters truncated) ... 1,4322203,23660,2522001,4682002,4684101,3100101,46130,1628202,1628104,3100401,4684103,4332013,3100103,3100201,1628102,4755103,4684201,7020001,3100403')
('2.312.961.436', 364, '47620,4791002,4639201,79901,70100,70210,7490901,6202002,4771201,7311004,46423,4641901,9004201,4677201,85599,47599,4676902,47721,46190,4673102,7022001 ... (2233 characters truncated) ... 301,74999,46643,4778401,46645,4762102,4712002,7810005,85699,4755902,90393,4782001,46841,70200,4686901,62100,9031201,4618033,90391,4686101,90201,90399')
('2.176.155.309', 363, '77120,2920102,46421,7810001,49420,4532001,46442,4941011,50100,50400,33110,74105,70220,85532,93121,4329902,72200,74201,49310,58290,93126,82200,46751,8 ... (2189 characters truncated) ... 0,2920203,5320011,62100,73300,74130,6220002,5226004,43223,95311,4740002,5226006,64210,95313,4618031,95316,95314,7010001,47742,6811002,4618001,1820003')
('2.030.494.961', 360, '47530,42120,81210,4312004,2561002,45204,23640,7711003,7111302,43291,27401,2550101,4329912,4312002,4313001,43993,4520302,4399201,25920,41102,41203,477 ... (2164 characters truncated) ... 2013,4323002,43350,28420,25220,2552001,47552,25639,31001,4776103,95314,4312005,4332006,2540101,31002,2551002,162004,77229,47551,2553001,4335002,31009')
('2.166.084.729', 360, '4331001,8130002,4221912,43333,31092,3101002,4312001,7729101,41201,4339002,4399921,4213002,4399905,4110211,4221901,2370002,9529008,4753003,8122002,711 ... (2497 characters truncated) ... 011,47783,43422,4342904,4100102,3100301,3100201,3100401,4683302,4350001,4322301,3100901,6812102,4221902,4332007,6812202,4324006,41001,4399002,4332009')
('2.264.308.612', 360, '58190,4751302,46630,33150,4615005,18140,46220,4723001,5813001,4753001,4764001,46520,1310002,7311003,68100,4621101,46491,46496,59130,5914001,4615003,4 ... (2247 characters truncated) ... 4769021,46500,62200,1813003,1421001,4740002,4755102,8009001,4618033,46474,4721002,14220,4763901,47553,4618031,6220002,4664301,47552,60310,62100,70200')
('2.336.683.775', 358, '4332002,41203,47721,46160,2599914,4329904,3311001,4313002,47252,220001,6311013,7111301,81300,41102,24440,4321101,81290,46130,46350,47112,47210,412010 ... (2235 characters truncated) ... 25401,62200,4778402,4341002,56112,4782001,4324002,4100302,3320001,63100,41001,43230,8123002,4324004,4341011,6812102,43410,4324006,47621,4299011,47690')
('2.151.971.724', 357, '71121,4391001,3831012,2511002,3832903,4291102,4399905,42919,7111103,4399401,4332014,4329103,4312003,4332005,46660,4321102,66290,2561006,4399901,93199 ... (2460 characters truncated) ... 20001,2551003,4341002,4335001,4332010,3821023,4332009,4324005,4399002,2540102,4350001,6220001,4342903,9311006,2552001,3821004,4323003,9510001,4100103')
('2.345.071.703', 357, '4613003,1610002,5229041,43222,4332031,4110102,4120301,1621002,4332015,45202,52100,2370001,4673102,4932002,47540,4643102,45113,4531001,4671002,81220,2 ... (2291 characters truncated) ... 3,5226006,22240,25510,4399004,52250,95319,4100102,1628102,8122011,16110,43350,1612002,4671101,4100104,4341011,4671201,4100302,4299011,5226002,1628104')
('2.241.849.152', 355, '4615002,47299,45310,45205,4211003,73200,46160,47599,56210,47721,4779101,46423,5610204,47594,46419,82110,4399301,46650,70100,56309,47112,4120112,45111 ... (2089 characters truncated) ... 9,62200,95314,47742,95313,5611105,43410,95315,4312005,68110,46720,47120,4755103,42990,47621,4100106,5510002,74140,4332013,63910,4100104,96210,4341011')
('2.262.212.224', 355, '4321103,4311001,4120121,43995,4321102,7410502,47540,23650,4110101,5310003,8129002,4334202,31010,5229031,4613003,4329103,77350,4332013,4332015,7111302 ... (2309 characters truncated) ... 8,4323001,4399003,1611002,31004,4933001,3312003,4342901,68322,1628105,5225002,4342101,6812101,1628103,5110006,5226001,6812203,1628101,1612001,4332010')
('2.319.875.754', 352, '4321201,1621001,43120,4332014,4120122,2370002,4613002,4643101,4399901,4616002,4332005,4673101,4332021,1610003,4729902,46424,4120302,95230,53200,43910 ... (2239 characters truncated) ... 4727902,31009,4342903,46831,4721002,81230,1611002,6812203,47110,1628107,4342901,6812201,6812101,1628105,4342101,1612001,4332010,1628103,4100301,46150')
('2.302.672.013', 351, '4613002,74209,4329103,4332005,4332014,4753001,25999,56101,4321201,4332021,23110,7420201,2370002,43991,43221,4332016,4332003,4753003,43996,43331,43211 ... (2241 characters truncated) ... 28105,4684102,56220,5611206,43421,4341003,47820,4332009,2552001,4342902,1628103,2551003,4332007,25530,43422,46831,4341001,4324002,1628107,61100,43990')
('2.349.249.136', 351, '5610201,2451001,4519302,43291,4399931,4110212,4329901,4532002,62020,45204,41202,4312002,4322201,47521,5630101,4391002,4329903,4339001,42120,43320,811 ... (2222 characters truncated) ... 8,4399003,6812101,4342901,5225002,9531302,43350,63910,4324005,56112,4332006,4341002,4782001,62200,4933001,95315,4324003,4335002,2553001,95314,4618001')
('2.185.186.009', 350, '2511003,9104201,4754001,2720001,4643201,4322201,1629102,2740205,7722001,3101001,3109101,2530003,2599911,2511001,2593001,3101012,1629201,3101021,90032 ... (2327 characters truncated) ... 69011,3320001,1813003,4221902,4740001,1813005,3312003,47540,2521013,2562002,25402,1628107,2551003,4324002,1611001,2522002,2551001,28210,9142001,46643')
('2.101.517.470', 349, '85591,3212301,9311002,4754001,6420012,7111104,4759101,4673203,9311011,3101012,3109101,4312011,4642301,46450,4676102,68204,82990,7721002,1621002,77299 ... (2269 characters truncated) ... 4,86995,7010001,3100403,4753004,68110,46130,3100105,86920,46861,6811001,4755901,47783,9311003,3100401,4755301,4755903,4684201,3100201,4683302,4683204')
('2.095.134.375', 347, '43211,41203,4332011,33140,4211003,81300,4120101,5610204,43342,3102001,43333,4211001,4331001,42911,4322211,4299001,43390,4329902,4332002,43110,5610202 ... (2280 characters truncated) ... 2,5611202,3100404,4324003,4324001,4332006,4335002,4100301,4332010,31001,5611206,4342901,4399001,4332008,4221903,4342903,47551,4324005,5611204,4399003')
('2.320.470.226', 347, '4399101,4322202,4399601,1629105,4778602,4213002,4941002,23690,43211,4391003,4724101,43342,8122002,5610105,7111103,81290,46442,31092,4721011,43333,162 ... (2209 characters truncated) ... 1,5611103,56220,4778301,6812102,9623002,43990,96220,43421,4332009,8123002,5611101,41002,9621001,4342902,4399002,4332007,4341003,4683102,16281,1611003')